flask 
mysql.connector 
flask_cors 


The admin credentials are:
1. Email: admin@ecopark.com Password: password

The government credentials are:
1. Email: laura.davis@gov.org Password: password
2. Email: robert.patel@gov.org Password: password

The auditors credentials are:
1. Email: sarah.williams@auditgov.org Password: password  
2. Email: james.rodriguez@auditgov.org Password: password  

The finance officers credentials are:
1. Email: emily.johnson@parkfinance.org Password: password  
2. Email: michael.chen@parkfinance.org Password: password  

The parkstaff credentials are:
1. Email: Ganza.dany@yahoo.com Password: password
2. Email: bob.audit@park.com Password: password
3. Email: carol.gov@park.com Password: password


How to run the frontend:
 npm run dev


How to run the Backend:
 cd Backend/
 python server.py






//1. Make sure the Parks are represented on the dashboard after login
//2. Add the new staff members added by the admin
3. Those who are not among the five roles of the system; Should be able to login auditors
   services, booked-tourings and donors
4. Make sure that there are the expenses and income of the individual parks mentioned by the finance officer to the government when creating the budget
//5. Make sure the categories mentioned by the finance officer are well represented under their categories
6. Allow the finance officer & government officer to get the a notification about the budget and if the expenses are above the budget
   he/she should be notified about the budget and the expenses & not allowed to do anything about it